################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PossumLabs.Specflow.DataGeneration/v15
/PossumLabs.Specflow.DataGeneration/obj
/PossumLabs.Specflow.DataGeneration/bin/Debug/netstandard2.0
